<div class="page-container">
  <div class="banner">
    <p>experience component works!</p>
  </div>

  <div class="main-text">
    Description Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum,
    quaerat. Magnam non laudantium quo veritatis consequuntur doloremque
    assumenda dolore, dignissimos architecto, temporibus minima. Temporibus
    nobis dolorum odio adipisci, veritatis molestiae aut eligendi delectus!
    Iusto tenetur similique qui eius ipsa distinctio tempore suscipit et harum
    architecto cupiditate neque in voluptatibus unde quaerat consequuntur,
    ducimus ab! Dolores voluptas fuga, ad dicta accusantium sapiente enim.
    Facilis ducimus quasi, quas quis explicabo eos asperiores fuga dicta in
    ipsum corporis cum obcaecati ut nisi odio iusto voluptas quae? Aperiam natus
    facere odit, culpa iste deleniti tenetur voluptatem aspernatur. Numquam
    impedit corrupti, incidunt vel commodi accusantium.
  </div>
</div>
