:host {
  display: block;
  background: #fff;
  border-radius: 8px;
  padding: 1rem;
  animation: slide 1s ease;
}

.modal-header {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  line-height: normal;
}

.modal-body {
  margin: 0 1rem 1rem;

  .modal-photo {
    padding: 0 1rem 1rem;
  }
}

@keyframes slide {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}
