.banner {
  background-image: url(../../../assets/images/geo_darkgreen_1920.jpg);
}

.main-photo {
  img {
    border-radius: 50%;
    height: 300px;
    width: 300px;
    position: relative;
    bottom: 225px;
    left: 150px;
  }
}

.main-text {
  margin: 5rem;
}
