<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
  width="40"
  alt="Angular Logo"
  src="../assets/NoBorderSnS.png"
/>
  <span>Monika Sikora</span>
  <div class="spacer"></div>
  <a href="/">O mnie</a>
  <a href="/">Doświadczenie</a>
  <a href="/">Zainteresowania</a>
  <a href="/">Kontakt</a>
</div>

<div class="content" role="main">
  <!-- Highlight Title -->
  <div class="card highlight-card">
    <span>{{ title }}</span>
  </div>

  <!-- Resources -->
  <h2>Title</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
  <div class="card-container">
    <a class="card" href="/">
      <span>Make</span>
    </a>

    <a class="card" href="/">
      <span>Own</span>
    </a>

    <a class="card" href="/">
      <span>WebCV</span>
    </a>
  </div>

  <!-- Footer -->
  <footer>
      Footer here
  </footer>
</div>
<router-outlet></router-outlet>

<app-header></app-header>
<main>
  <app-loading *ngIf="isLoading"></app-loading>
  <router-outlet></router-outlet>
</main>
<app-footer></app-footer>
